body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  display: flex;
  align-items: center;
  
  background: #feeeff;
  color: black;

  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  font-family: 'Rock Salt', cursive;
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}
.icon1{
  width: 40px;
  height: 40px;
  margin: 10px;
}
.icon2{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.icon2:hover{
  transform: scale(1.3);
}
.icon1:hover{
  transform: scale(1.3);
}